@import "shared.scss";
/* this is for header */
header{
    background-color: $main-theme;
    // padding: 20px 10px;
    .title-wrapper{
        padding: 10px 20px;
        display: flex;
    }
    .search-wrapper{
        padding: 10px 10px;
        input{
            width: 100%;
            border-radius: 5px;
            height: 30px;
            text-indent: 10px;
        }
    }
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    width: 20px;
    height: 18px;
    margin-right: 20px;
    // margin: 10px 20px;
    /* left: 36px; */
    /* top: 36px; */
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .header-menu{
      top: 0px;
      left: 0px;
  }
  .bm-menu {
    background: $main-theme;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
  }